@keyframes compress {
    0% {
        letter-spacing: 0.5ch;
        opacity: 0;
    }
    20% {
        letter-spacing: 0.5ch;
        opacity: 0;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes extra {
    0% {
        content: "#8291";
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    45% {
        content: "#8291";
        opacity: 0;
    }
    50% {
        opacity: 0;
        content: "@rymiel.space";
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        content: "@rymiel.space";
    }
}

body > a:hover {
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
}

body > a:active {
    transition: all 500ms cubic-bezier(0, 1.26, 0, .94);
}

#header-background > * {
    animation: 1500ms cubic-bezier(.65, .05, .36, 1) 0s 1 compress;
    transition: all ease 1s;
}

#header-background strong:hover::after {
    animation: 6s cubic-bezier(0.445, 0.05, 0.55, 0.95) extra infinite;
}

@keyframes move-sparkle-back {
    0% {
        background-position: 0 0;
    }
    33% {
        background-position: -1000px 500px;
    }
    66% {
        background-position: -67px 1116px;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.stars, .sparkle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(stars.png) repeat top center;
    z-index: -10;
    animation: 2500ms fadein 1 ease-out;
}

.sparkle {
    background: transparent url(sparkle.png) repeat top center;
    z-index: -5;
    animation: 80s move-sparkle-back linear infinite;
}
