body {
    background: #000;
    text-align: center;
    font-family: BebasKai, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    overflow:hidden;
}

body > a {
    padding-left: 2ch;
    padding-right: 2ch;
    padding-bottom: 2px;
    color: #dcc;
    font-size: 3rem;
    display:inline-block;
}

body > a:hover {
    transform:skewX(-10deg);
    color: rgb(255, 232, 253);
    letter-spacing:0.1ch;
    background: #222;
}

body > a:active {
    color: #222;
    transform:skewX(-10deg);
    letter-spacing:0.3ch;
    background:#ffc0cb;
}

#header-background {
    background: #ffffff20;
    fill-opacity: 0.5;
    width:100%;
}

#header-background > * {
    color:#ffc0cb;
    padding-top:.15em;
    text-align:center;
    transform:skewX(-10deg);
}

#header-background p {
    margin-top: 0;
}

#header-background h1 {
    margin-bottom: 0;
    font-weight: 900;
}

#header-background strong:hover::after {
    content: "";
    font-weight: 100;
    position: absolute;
}

@media (max-aspect-ratio: 1/1) {
    #header-background > * {
        margin: 2vw;
    }

    #header-background h1 {
        margin-top:10vw;
        font-size:20vw;
    }

    #header-background p {
        margin-bottom: 10vw;
        padding-bottom: 3vw;
        font-size: 5vw;
    }
}

@media (min-aspect-ratio: 1/1) {
    #header-background > * {
        margin: 2vh;
    }

    #header-background h1 {
        margin-top:10vh;
        font-size:20vh;
    }

    #header-background p {
        margin-bottom: 10vh;
        padding-bottom: 3vh;
        font-size: 5vh;
    }
}
